.App {
  text-align: center;
  background-color: rgb(255, 51, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.quote_text {
color: rgb(214, 55, 55);
}

.p{
  font-size: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(169,169,169) ;
  max-width: 650px;
  max-height: fit-content;
  border-radius: 8px;
  width: auto;
  
}

.card_title {
  height: 70px;
  width: 100%;
  background-color: rgb(139, 128, 128);
}

.card_content {
  flex: 1;
  background-color: rgb(51, 38, 38);
  text-emphasis-color: white;
  padding: 25px;
}

.quote_container {
  height: fit-content;
  width: fit-content;
  border-style: solid;
  padding: 0%;
}

ul{
  background: linear-gradient(gray);
  height: 80px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-emphasis-position:right;
}

.navBarItems li {
list-style: none;
margin: 0 20px;
}